$primary-font: 'Open Sans';
$secondary-font: Helvetica;
$primary-color: rgb(40, 59, 98);
$orange: rgb(235, 206, 156);
$gray: rgb(160, 160, 159);
$light-primary: rgb(82, 114, 178);
$vanile: rgb(203, 180, 146)